#contato h2 {    
  text-align: center;
  font-size: 3rem;
  color: #a450d2;  
}

#contato form {
  max-width: 400px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;  
}

#contato input,
#contato textarea {
  margin-bottom: 1rem;
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #8e3cc3;
}

form button:hover {
  background-color: #8e3cc3;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #d279ee;
  box-shadow: 0 0 5px #d279ee;
}

button {
  background-color: #a450d2;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.redes-icones {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1.5rem 0;
}

.icon-zona {
  font-size: 4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-zona.whatsapp {
  color: #25D366;
}

.icon-zona.instagram {
  color: #C13584;
}
.icon-zona {
  font-size: 4rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-zona:hover {
  transform: scale(1.2);
  color: #ffb6c1;
}