#cursos h2 {
  padding: 4rem 2rem;  
  text-align: center;
  font-size: 3rem;
  color: #a450d2;
  margin-bottom: 1rem;
}

.lista-cursos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.curso {
  background: #fff;
  border: 2px solid #a450d2;
  border-radius: 20px;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 0 10px #f3c0f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.curso h3 {
  margin-bottom: 0.5rem;
  color: #a450d2;
}

.curso:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 25px #e698e6;
  background-color: #fff0fa;
}

.mais-info {
  background: #eedfe3;
  color: #a450d2;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem; 
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.mais-info:hover {
  background: linear-gradient(90deg, #a450d2, #ffb6c1);  
  color: #4a034b;
  box-shadow: 0 0 10px #ffb6c1, 0 0 20px #a450d2;
  transform: scale(1.05);
}